{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "airbnb-typescript"
    ],
    "rules": {
        "import/no-webpack-loader-syntax": "off",
        "import/prefer-default-export": "off",
        "react/no-danger": "off"
    }
}
